<script>
export let data;
</script>

<style>
ul {
	list-style-type: none;
}
</style>

# all posts

<ul>
    <li>
        <h2>
            <a href="/now">now page</a>
        </h2>
        <p class="sub">Updated periodically</p>
    </li>
    <hr class="rule"/>
	{#each data.posts as post}
		<li>
			<h2>
				<a href={post.path}>
					{post.meta.title}
				</a>
			</h2>
			<p class="sub">Published {post.meta.date}</p>
		</li>
        <hr class="rule"/>
	{/each}
</ul>
