<script>
  import Carousel from "$lib/Carousel.svelte";
</script>

# gallery

new page to [document just how awful i am at skiing](/gallery/ski) here.
i figured it was worth it if i keep being this addicted next winter.

## 1 jun 2026: [the oregon special 2](https://img.aly.sh/s/395)
<Carousel --aspect=3/2 images={[
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/43e87cfe-5b7e-454b-afc6-a237a24d26c4/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/4d5acdec-7ac1-4112-877a-161da275910e/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/5a962ed5-4645-4283-ad9e-c09af142862c/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/79f20f1d-e992-495a-a7a2-8d9232bd9b7f/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/96b0a971-1d45-4b90-9fdc-a5f8f43a54bd/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/bb30024b-ac2e-4c16-b7bb-d95748c62b7f/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/ad60f367-4f8b-4c66-85d5-4467cd24ff83/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/06f7462c-1abf-4449-a7d1-811820e5c2f8/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/f65faee5-c217-4106-a486-106184af3aca/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/8e8c34ee-7aff-4da5-ba18-46594f322de0/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/02e9ca41-c76f-4e8a-9bd7-5d70a5125cf2/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/94e4172c-5a56-471d-be5d-ab27dd4c5489/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/955b35bf-7813-48cb-95f4-6e06e400e2eb/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/19e01a8f-3637-4d65-a70d-bb00b3bcb107/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/87272c70-1a84-4def-bddc-b99f4fdccc66/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/393e0698-3ad2-4ea2-879a-d52478dc9200/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/3f5b6945-dd89-4278-b015-5deb96709934/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/a70d2db4-270c-44b3-aba8-e71f54c10311/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/790cb6fa-cf5d-454d-8d47-1aab9da0683e/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/f647599c-0add-4feb-b915-e5040b048774/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/742e18d1-4d08-4ff3-a680-7954833a5cb6/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/94043db4-69cf-4c66-bf78-3a7da250380e/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/48bf874b-e314-4990-a06e-ec016abae93e/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/230f8d16-9f3d-4c03-a1ef-c9e9743c39cf/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/a2ae0a70-7933-4cb7-8e93-647f83e0b27b/",
  "https://img.aly.sh/share/photo/MxhzRm_-QccW1cVmplNKvFZFNg-jBsNWIinc5Obv9xX4nn6xstGrYOl8zrUPmrEMihg/44f07d0b-e23e-4df4-aa4c-57a651991f50/"
]}/>

## 29 may 2026: [trying to shoot cars with a macro lens](https://img.aly.sh/s/9bungering)
<Carousel --aspect=3/2 images={[
  "https://img.aly.sh/share/photo/fPZsHkLUWhd__LJyFVmV8EdMa14sw5Kuo7DKXUyXtaK5l648xGvuCtOyfXxPOjAt4FY/e6a45c99-709e-4d87-a5a8-c304d3cdb2c0/",
  "https://img.aly.sh/share/photo/fPZsHkLUWhd__LJyFVmV8EdMa14sw5Kuo7DKXUyXtaK5l648xGvuCtOyfXxPOjAt4FY/8c19b0b9-4f3e-4b73-8cbc-df442286658c/",
  "https://img.aly.sh/share/photo/fPZsHkLUWhd__LJyFVmV8EdMa14sw5Kuo7DKXUyXtaK5l648xGvuCtOyfXxPOjAt4FY/51ed6eb1-8370-4865-b8e8-ed9310e00182/",
  "https://img.aly.sh/share/photo/fPZsHkLUWhd__LJyFVmV8EdMa14sw5Kuo7DKXUyXtaK5l648xGvuCtOyfXxPOjAt4FY/f3d7d2fc-d5be-417f-856d-35349e48567f/",
  "https://img.aly.sh/share/photo/fPZsHkLUWhd__LJyFVmV8EdMa14sw5Kuo7DKXUyXtaK5l648xGvuCtOyfXxPOjAt4FY/68ae3d4a-6c73-4ef6-ae89-079c6391e548/"
]}/>

## 21-23 may 2026: [miscellaneous landscape photos](https://img.aly.sh/s/misc2)
<Carousel --aspect=3/2 images={[
  "https://img.aly.sh/share/photo/yIZhd53KEUONHCYV_WkhNvSsxlPnUB96dJ4qMOKv51O5v6WoOPFQHYk_2y6G4Jqvbyc/41661ade-c1e9-4f4d-8354-919016934028/",
  "https://img.aly.sh/share/photo/yIZhd53KEUONHCYV_WkhNvSsxlPnUB96dJ4qMOKv51O5v6WoOPFQHYk_2y6G4Jqvbyc/a2f0e2bf-6d8e-4eb5-b0aa-f7d6b4e8a6e0/",
  "https://img.aly.sh/share/photo/yIZhd53KEUONHCYV_WkhNvSsxlPnUB96dJ4qMOKv51O5v6WoOPFQHYk_2y6G4Jqvbyc/5ac349a1-3f51-4894-8b67-e7b24f6474b3/",
  "https://img.aly.sh/share/photo/yIZhd53KEUONHCYV_WkhNvSsxlPnUB96dJ4qMOKv51O5v6WoOPFQHYk_2y6G4Jqvbyc/a8f1842d-46fd-4a03-a7ff-1adeabdeae88/",
  "https://img.aly.sh/share/photo/yIZhd53KEUONHCYV_WkhNvSsxlPnUB96dJ4qMOKv51O5v6WoOPFQHYk_2y6G4Jqvbyc/de726d4d-553a-4f82-a53b-ef858b3b5c2b/"
]}/>

## 19 apr 2026: [the oregon special](https://img.aly.sh/s/oregon)
<Carousel --aspect=3/2 images={[
    "https://img.aly.sh/share/photo/Ke505NTF0r_lMObrFVuQtHFIDB9NDATpMUkHMBazuO9FopjCaFmyrJ5NR782PA9GCzg/c32ef4f0-bc7e-4861-a5d1-3684f12ce1b8/",
    "https://img.aly.sh/share/photo/Ke505NTF0r_lMObrFVuQtHFIDB9NDATpMUkHMBazuO9FopjCaFmyrJ5NR782PA9GCzg/6b5d236c-25a3-4f20-b0d2-4adca06e4ca0/",
    "https://img.aly.sh/share/photo/Ke505NTF0r_lMObrFVuQtHFIDB9NDATpMUkHMBazuO9FopjCaFmyrJ5NR782PA9GCzg/fac62a09-4fb3-4ce9-b885-71275f6cf880/",
    "https://img.aly.sh/share/photo/Ke505NTF0r_lMObrFVuQtHFIDB9NDATpMUkHMBazuO9FopjCaFmyrJ5NR782PA9GCzg/f39e1d42-b726-430e-b23f-a94f01d7ead6/",
    "https://img.aly.sh/share/photo/Ke505NTF0r_lMObrFVuQtHFIDB9NDATpMUkHMBazuO9FopjCaFmyrJ5NR782PA9GCzg/5d9eab11-f4e7-4753-9bd7-869ceedef65f/",
    "https://img.aly.sh/share/photo/Ke505NTF0r_lMObrFVuQtHFIDB9NDATpMUkHMBazuO9FopjCaFmyrJ5NR782PA9GCzg/b1aae122-e3c2-4e16-90e4-2f141fe8791d/",
    "https://img.aly.sh/share/photo/Ke505NTF0r_lMObrFVuQtHFIDB9NDATpMUkHMBazuO9FopjCaFmyrJ5NR782PA9GCzg/74e78c04-26cf-420c-b109-00b01cd437c6/"
]}/>

## 29 mar 2026: [ferries on film](https://img.aly.sh/s/fof329)
<Carousel --aspect=3/2 images={[
    "https://img.aly.sh/share/photo/yrEXRxHGLixu3JQwZ_VMZ-l8E0gpQdf5lzaKU9pNC5TGc-Qas3zL4Fq09f5H9YbvBWE/eb13a7c8-e222-47af-bdd6-c37e569368e0",
    "https://img.aly.sh/share/photo/yrEXRxHGLixu3JQwZ_VMZ-l8E0gpQdf5lzaKU9pNC5TGc-Qas3zL4Fq09f5H9YbvBWE/762ee5c2-8724-4a12-a175-9072d8b50bc8",
    "https://img.aly.sh/share/photo/yrEXRxHGLixu3JQwZ_VMZ-l8E0gpQdf5lzaKU9pNC5TGc-Qas3zL4Fq09f5H9YbvBWE/d4d97549-1599-4abd-9f57-975a4331c9d4",
    "https://img.aly.sh/share/photo/yrEXRxHGLixu3JQwZ_VMZ-l8E0gpQdf5lzaKU9pNC5TGc-Qas3zL4Fq09f5H9YbvBWE/4275b0bc-0eea-4c15-bfe3-c9fea5490f8f",
    "https://img.aly.sh/share/photo/yrEXRxHGLixu3JQwZ_VMZ-l8E0gpQdf5lzaKU9pNC5TGc-Qas3zL4Fq09f5H9YbvBWE/f9757b24-5643-42e7-9cd3-e0bf27d1d477",
    "https://img.aly.sh/share/photo/yrEXRxHGLixu3JQwZ_VMZ-l8E0gpQdf5lzaKU9pNC5TGc-Qas3zL4Fq09f5H9YbvBWE/9cda7c0e-91e2-42db-b270-abbecd48e669"
]}/>

## 25 mar 2026: [canadian time of my life](https://img.aly.sh/s/fraser1)
<Carousel --aspect=2/3 images={[
    "https://img.aly.sh/share/photo/-v5UIGYvoaWcI1L5jw9P-L9mV-NKoVyjw4S4bgEIHarD66UOzDxBRzOZpxf27_DinZ8/4b45da81-ecf3-4a3d-9cc3-68bb1b9c66c0/",
    "https://img.aly.sh/share/photo/-v5UIGYvoaWcI1L5jw9P-L9mV-NKoVyjw4S4bgEIHarD66UOzDxBRzOZpxf27_DinZ8/1f887734-9ce5-4fe6-95f9-956f5e914305/",
    "https://img.aly.sh/share/photo/-v5UIGYvoaWcI1L5jw9P-L9mV-NKoVyjw4S4bgEIHarD66UOzDxBRzOZpxf27_DinZ8/eab5c57d-8fb2-4542-a4b9-1c387741eedc/",
    "https://img.aly.sh/share/photo/-v5UIGYvoaWcI1L5jw9P-L9mV-NKoVyjw4S4bgEIHarD66UOzDxBRzOZpxf27_DinZ8/1176d649-08ec-427d-9fb7-29a69c8a7956/"
]}/>

## 15 mar 2026: [centralia WA local finds](https://img.aly.sh/s/olympia)
<Carousel --aspect=2/3 images={[
    "https://img.aly.sh/share/photo/Oldu6Rhdns9NGuarfKBO451mf6QCNxOZJfmB7iSzMWPuCoFVwkR8vuo7Cy5Fxpnz1pE/af181969-c65b-4c33-9633-2ac27b2c50d1/",
    "https://img.aly.sh/share/photo/Oldu6Rhdns9NGuarfKBO451mf6QCNxOZJfmB7iSzMWPuCoFVwkR8vuo7Cy5Fxpnz1pE/6fd6d5d8-b4eb-4f54-81fd-230722a71246/",
    "https://img.aly.sh/share/photo/Oldu6Rhdns9NGuarfKBO451mf6QCNxOZJfmB7iSzMWPuCoFVwkR8vuo7Cy5Fxpnz1pE/2e0223fd-9406-4ef7-b740-a53f41dad57e/",
    "https://img.aly.sh/share/photo/Oldu6Rhdns9NGuarfKBO451mf6QCNxOZJfmB7iSzMWPuCoFVwkR8vuo7Cy5Fxpnz1pE/841be293-8189-42c0-a327-f077cecfa8fe/"
]}/>

## 8 mar 2026: [never a bad day to explore vancouver](https://img.aly.sh/s/van-march7th)
<Carousel --aspect=3/2 images={[
    "https://img.aly.sh/share/photo/kcjAzJKBauPvz93U5hi8gsCBPrOBAuwT6CXz8lB1nkw_hLKn62ljOVPQQSkELBIlzyA/e8071a61-2438-4b81-b5c5-80e45ebdae1e/",
    "https://img.aly.sh/share/photo/kcjAzJKBauPvz93U5hi8gsCBPrOBAuwT6CXz8lB1nkw_hLKn62ljOVPQQSkELBIlzyA/ed60c3cd-8432-4a49-8aae-b4cb4ac51ed6/",
    "https://img.aly.sh/share/photo/kcjAzJKBauPvz93U5hi8gsCBPrOBAuwT6CXz8lB1nkw_hLKn62ljOVPQQSkELBIlzyA/27a508ef-47ba-4075-9b8f-312ca2672cea/",
    "https://img.aly.sh/share/photo/kcjAzJKBauPvz93U5hi8gsCBPrOBAuwT6CXz8lB1nkw_hLKn62ljOVPQQSkELBIlzyA/24c1cc8d-734d-4c63-93e8-d7142ef46c4f/",
    "https://img.aly.sh/share/photo/kcjAzJKBauPvz93U5hi8gsCBPrOBAuwT6CXz8lB1nkw_hLKn62ljOVPQQSkELBIlzyA/507b0a74-d8e5-4d28-b86a-165ff3ce956d/",
    "https://img.aly.sh/share/photo/kcjAzJKBauPvz93U5hi8gsCBPrOBAuwT6CXz8lB1nkw_hLKn62ljOVPQQSkELBIlzyA/5523da94-ac9e-4aef-834d-b65e6e1fc815/",
    "https://img.aly.sh/share/photo/kcjAzJKBauPvz93U5hi8gsCBPrOBAuwT6CXz8lB1nkw_hLKn62ljOVPQQSkELBIlzyA/56a2d9a7-361c-4858-b870-3666c8fa6803/",
    "https://img.aly.sh/share/photo/kcjAzJKBauPvz93U5hi8gsCBPrOBAuwT6CXz8lB1nkw_hLKn62ljOVPQQSkELBIlzyA/8046e373-ff16-48a2-817e-71a14ca9cc97/",
    "https://img.aly.sh/share/photo/kcjAzJKBauPvz93U5hi8gsCBPrOBAuwT6CXz8lB1nkw_hLKn62ljOVPQQSkELBIlzyA/87246b54-4d7f-4d85-a130-4a13b8c7ae48/"
]}/>

## 1 feb 2026: [lwcc car shooting](https://img.aly.sh/s/lwcc2126)

## 26 dec 2025: [monterey, ca family vacation](https://img.aly.sh/s/monterey261225)

## 8 dec 2025: [ubc moment](https://img.aly.sh/s/van81225)

## 26 nov 2025: [nyc photodump 1](https://img.aly.sh/s/ny261125)

## 9 nov 2025: [a drive to bellingham, wa](https://img.aly.sh/s/chuck91125)

## 27 apr 2025: [de anza car show](https://img.aly.sh/s/deanza2025)

## 8 mar 2025: [berkeley chaos gourmet trip](https://img.aly.sh/s/chaos2)

## 15 feb 2025: [berkeley ocf retreat](https://img.aly.sh/s/ocfretreat)
