# projects
* Homelab: Check status [here](http://radomus.albie.cat/).
* [NixOS](https://github.com/albertye1/nix-configs): I use NixOS btw. Here are my configs. Soon I may update my
    homelab with this as well.
* [Load Balancer](https://github.com/Storce/EE122-Project-SP2025/): Project with [Joe Wang](https://joewang.me/) and
    [Veronica Cheung](https://www.linkedin.com/in/veronica-cheung/).
    Tested the nginx load balancer for varying loads in a containerized environment and compared the results
    against the theoretical benefits of load balancing. For more information, view our extended abstract [here](projects/122.pdf).
* [Physics Engine](https://suika.aly.sh): Project with [Raine Koizumi](https://koizura.me).
    Developed a clone of Suika Game with a custom physics engine in Rust.
* [This Website](https://github.com/albertye1/pw3): Written in Svelte and self-hosted on an old ThinkPad.
* [YEI Learning Portal](https://learn.theyei.org): Conceived the idea of and developed a training
    website to help students with AP Economics exams, National Economics Challenge, and other high school
    economics competitions. Written in React with TS, auth via Firebase.

# teaching
* [CS 164](https://drive.google.com/drive/folders/1Pke-MW66kA5MJYI8Oodb5JE2yli_K0aQ): I was a TA for Berkeley's
    Programming Languages and Compilers class in Fall 2024. The materials I've prepared are linked.
* [OCF Linux Sysadmin Class](https://decal.ocf.berkeley.edu/). Since Spring 2024, I've helped teach the Open
    Computing Facility's Linux Sysadmin DeCal. I lectured topics such as shell scripting, networking,
    and the Puppet config manager.
* [X-Camp](https://x-camp.academy/): Since Summer 2022, I've been working with X-Camp to teach middle and high
    school students competitive programming.

# other todo
* filter by tag on blog
* local image gallery.
