[Joe Wang](https://joewang.me), [Jaysa Garcia](https://jaysa.net), [Anna
Dymchenko](https://anna.dymchenko.com), [Oliver Ni](https://oliver.ni), [Michael
Lisano](https://michaellisano.com), [Trinity Chung](https://trinityjchung.com), [Ben
Cuan](https://bencuan.me), [Brooke Mao](https://brookemao.ca), [Sasha Huang](https://umbresp.cat),
[Ethan Wu](https://ethanwu.dev), [Raine Koizumi](https://koizura.me), [Michael
Pham](https://ktm-p.net), [Leo Singh](https://6c656f.io/), [Evelyn Koo](https://evesdropper.dev),
[Mannan Shukla](https://mannan.dev)
