@import url('https://fonts.cdnfonts.com/css/texturina');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/sofia-sans');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

body {
	font-family: 'Sofia Sans', sans-serif;
	@apply bg-taupe-300 text-taupe-800 transition-all dark:bg-neutral-900 dark:text-taupe-300;
}

p {
	@apply pb-5;
}

img[alt='blogpic'] {
	margin: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 75%;
}

a {
	@apply text-green-700 transition-all hover:text-lime-600 dark:text-yellow-500 dark:hover:text-red-400;
}
h1,
h2,
h3,
h4,
h5,
h6,
nav {
	font-family: 'Texturina', sans-serif;
	padding-bottom: 10px;
}

code {
	font-family: Inconsolata, monospace;
	font-size: 12.5pt;
	@apply !text-lime-600 dark:!text-amber-300;
}

.b {
	@apply px-1 !text-taupe-700 hover:underline dark:!text-taupe-400;
}

.sub {
	@apply !text-taupe-700 italic dark:!text-taupe-400;
}

.rule {
	@apply mb-3 text-taupe-400 dark:text-stone-700;
}

ul {
	list-style-type: square;
	list-style-position: inside;
	@apply pb-5;
}

@layer base {
	h1 {
		font-size: var(--text-2xl);
	}
	h2 {
		font-size: var(--text-xl);
	}
}

.lang {
	@apply w-18 !bg-green-700 !text-taupe-300 transition-all hover:!bg-lime-600 dark:!bg-yellow-500 dark:!text-neutral-900 dark:hover:!bg-red-400;
}
