@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));	

body {
	font-family: 'Cabin', sans-serif;
	@apply bg-sky-50 text-slate-800 dark:bg-zinc-900 dark:text-zinc-200 transition-all;
}

p {
	@apply pb-5;
}

a {
	@apply text-sky-600 transition-all hover:text-blue-400 dark:text-green-500 dark:hover:text-emerald-300;
}
h1,
h2,
h3,
h4,
h5,
h6,
nav {
	font-family: 'Manrope', sans-serif;
	padding-bottom: 10px;
}

.b {
	@apply px-1 !text-slate-700 hover:underline dark:!text-zinc-300;
}

ul {
	list-style-type: square;
	list-style-position: inside;
	@apply pb-5;
}

@layer base {
	h1 {
		font-size: var(--text-2xl);
	}
	h2 {
		font-size: var(--text-xl);
	}
}
